.question-container {
  width: 300px; /* Increase width */
  padding: 10px;
  max-width: 100%; /* Ensure responsiveness */
  white-space: normal; /* Prevent text from being cut */
}

.refresh-container {
  margin: 10px;
}

.nextBtn {
  background-color: #f90;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}